---
layout: layouts/base.njk
ogType: article
---
<article class="container blog-post">
  <p class="blog-post-meta">
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </p>
  <h1 class="blog-post-title">{{ heading or title }}</h1>
  {{ content | safe }}
</article>
